{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'base.html' %}

<body>

    {% include 'sidebar.html' %}

<div class="project-body">
    <!-- Painel de Projetos -->
    <div class="project-menu">

        <div class="project-list">

            {% for propriedade in propriedades %}
                <div class="project-card" onclick="showTasks('{{ propriedade.matricula }}', '{{ propriedade.nome }}', '{{ propriedade.area }}', '{{ propriedade.municipio }}', '{{ propriedade.ccir }}')">
                    <h2>{{ propriedade.nome }}</h2>
                    <p>{{ propriedade.matricula }}</p>
                    {% for i in proprietarios %}
                        {% if i.propriedade_id == propriedade.id %}
                            <h1>{{ i.proprietario.id }}</h1>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            
            <!-- Botão "Novo Projeto" abaixo do último card de projeto -->
            <button class="new-project-btn">+ Adicionar Propriedade</button>
        </div>

        <!-- Tabela de Dados da Propriedade -->
        <div class="property-container">
            <div class="property-table-container" id="property-table-container">
                <ul class="responsive-table">
                    <li class="table-header">
                        <div class="col col-1">Matrícula</div>
                        <div class="col col-2">Nome</div>
                        <div class="col col-3">Área</div>
                        <div class="col col-4">Município</div>
                        <div class="col col-5">CCIR</div>
                    </li>
                </ul>
                <ul class="responsive-table" id="property-table-body"></ul>
            </div>

            <div class="owner-table-container" id="owner-table-container">
                <ul class="responsive-table">
                    <li class="table-header">
                        <div class="col col-7">Tipo</div>
                        <div class="col col-8">CPF/CNPJ</div>
                        <div class="col col-9">Nome</div>
                        <div class="col col-10">Município</div>
                    </li>
                </ul>
                <ul class="responsive-table" id="owner-table-body"></ul>
            </div>
        </div>

        <!-- Gráficos de Estatísticas -->
        <div class="chart-container">
            <h3>Estatísticas do Projeto</h3>
            <div class="chart" id="total-tasks-chart">Total de Tarefas: 0</div>
            <div class="chart" id="completed-tasks-chart">Percentual Finalizado: 0%</div>
            <div class="chart" id="pending-tasks-chart">Percentual Não Finalizado: 0%</div>
        </div>
    </div>

    <script>

        function showTasks(matricula, nome,area, municipio, ccir) {
            const taskTableContainer = document.getElementById('property-table-container');
            const taskTableBody = document.getElementById('property-table-body');
            const totalTasksChart = document.getElementById('total-tasks-chart');
            const completedTasksChart = document.getElementById('completed-tasks-chart');
            const pendingTasksChart = document.getElementById('pending-tasks-chart');

            taskTableBody.innerHTML = '';

            const row = document.createElement('li');
            row.classList.add('table-row');
            row.innerHTML = `
                <div class="col col-1">${matricula}</div>
                <div class="col col-2">${nome}</div>
                <div class="col col-3">${area}</div>
                <div class="col col-4">${municipio}</div>
                <div class="col col-5">${ccir}</div>
            `;
            taskTableBody.appendChild(row);

            let completedPercentage = (1 * 100).toFixed(2);
            let pendingPercentage = (100 - completedPercentage).toFixed(2);

            totalTasksChart.innerText = `Total de Tarefas: ${totalTasks}`;
            completedTasksChart.innerText = `Percentual Finalizado: ${completedPercentage}%`;
            pendingTasksChart.innerText = `Percentual Não Finalizado: ${pendingPercentage}%`;

            taskTableContainer.style.display = 'block';
        }
    
        function showOwners() {
            
        }
    </script>
</div>





</body>
</html>